<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" /><!-- 二级缓存开启 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.qk.ginkgoservice.modules.basic.crm.entity.QkBasicJxsinfo" alias="QkBasicJxsinfo"/>
		<typeAlias type="com.qk.ginkgoservice.modules.sys.entity.Office" alias="Office"/>
		<typeAlias type="com.qk.ginkgoservice.modules.sys.entity.Menu" alias="Menu"/>
		<typeAlias type="com.qk.ginkgoservice.modules.sys.entity.Role" alias="Role"/>
		<typeAlias type="com.qk.ginkgoservice.modules.orders.entity.QkYwOrders" alias="QkYwOrders"/>
		<typeAlias type="com.qk.ginkgoservice.modules.orders.entity.QkYwOrdermodify" alias="QkYwOrdermodify"/>

	</typeAliases>

</configuration>

